* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

header a {
  color: white;
  font-size: 16pt;
}

header p {
  color: white;
  font-size: 16pt;
  margin-left: auto;
}

header {
  background-image: url(../images/Schermafbeelding\ 2023-04-27\ om\ 15.58.45.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  height: 28.5rem;
  background-color: #cd1719;
}

.nav-container {
  display: flex;
  padding: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav-links {
  padding-right: 1rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
}

.blok-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 1200px;
  margin: auto;
}

.image-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.image-blok img {
  border: #cd1719 solid 3px;
}

.nav-links {
  padding-right: 1rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
}

.blok-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "area-1 area-2";
}

.text-blok {
  padding-left: 13rem;
  padding-right: 13rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: area-1;
  max-width: 1200px;
  margin: auto;
}

.text-blok p {
  font-weight: 550;
  font-size: 14pt;
}

.text-blok2 {
  padding-right: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: area-2;
  margin: auto;
  align-items: flex-start;
  max-width: 500px;
  min-width: 500px;
  font-size: 14pt;
}

.text-blok2 a {
  color: #cd1719;
  font-size: 14pt;
  display: block;
  margin-top: 1rem;
}

.image-blok2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: area-1;
  height: 150rem;
}

.image-blok2 img {
  height: 150rem;
  max-width: 700px;
  min-width: 700px;
}

.tussentitel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  align-items: center;
  background-color: #cd1719;
}

h2 {
  font-family: "sanvito-pro-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40pt;
  text-align: center;
  color: white;
}

.blok-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image1 image2" "text1 text2";
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 10%;
  padding-right: 10%;
}

.image-blok3 {
  grid-area: image1;
  max-width: 600px;
  margin-right: 25%;
}

.image-blok4 {
  grid-area: image2;
  max-width: 600px;
  margin-left: 25%;
}

.image-blok3 img,
.image-blok4 img {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-blok3 img {
  border: #cd1719 solid 3px;
}

.text-blok3 {
  grid-area: text1;
  font-size: 14pt;
  color: #cd1719;
  margin-right: 25%;
  padding-top: 1rem;
}

.text-blok4 {
  grid-area: text2;
  font-size: 14pt;
  color: #cd1719;
  margin-left: 25%;
  padding-top: 1rem;
}

.blanc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: #cd1719;
}

.blok-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "area-1 area-2";
}

.video {
  grid-area: area-1;
  padding-bottom: 56.25%;
  position: relative;
  padding-left: 3rem;
  background-color: #cd1719;
}

.video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.video-content {
  padding-left: 6rem;
  padding-right: 3rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  grid-area: area-2;
  background-color: #cd1719;
  color: white;
  font-size: 14pt;
}

.video iframe {
  border: white solid 3px;
}

@media (max-width: 1170px) {
  .hero-intro,
  .text-blok,
  .blok-1,
  .blok-2,
  .tussentitel,
  .blok-3,
  .blok-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-intro {
    min-width: 300px;
    max-width: 780px;
  }

  .blok-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-blok {
    max-width: 100%;
    width: 780px;
    min-width: 470px;
  }

  .text-blok {
    max-width: 100%;
    width: 740px;
    min-width: 470px;
    padding-bottom: 3rem;
  }

  .blok-2 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "area-1"
      "area-2";
  }

  .text-blok2 {
    width: 100%;
    max-width: 480px;
    min-width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-blok2 {
    display: none;
  }

  .blok-3 {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image1"
      "text1"
      "image2"
      "text2";
  }

  .image-blok3,
  .image-blok4 {
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
  }

  .image-blok3 {
    max-width: 450px;
    min-width: 450px;
  }

  .image-blok4 {
    max-width: 440px;
    min-width: 440px;
  }

  .text-blok3,
  .text-blok4 {
    text-align: left;
    max-width: 450px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .text-blok4 {
    margin-bottom: 0;
  }

  .blanc {
    height: 5rem;
  }
}
